# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.WebREST-EF-50.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\dotNET\WebREST-EF-50\.idea\.idea.WebREST-EF-50\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
