@page "/fetchdata"

@using WebREST_EF_50.Services
@using WebREST_EF_50.Models
@inject IUserService UserService

<h1>All users</h1>
<section id="UserList">
    @if (_users == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        @foreach (var user in _users)
        {
            <p>@user.Name</p>
            <p>@user.Surname</p>
            <p>@user.Emails.Count</p>
            <p>@user.Phones.Count</p>
        }
    }
</section>

@code {
    private List<User> _users;

    protected override async Task OnInitializedAsync()
    {
        _users = await UserService.GetUsers();
    }

}